<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row py-4"></div>
    <div class="row justify-content-center mt-5">
      
            <div class="col col-lg-5">
                <img src="/assets/images/1.jpg" class="object-fit-cover float-left bigImage" height="390" width="470">
            </div>
            
            <div class="col col-lg-4 d-flex  align-self-center flex-column">
               <h6 class="text-warning textSneaker">SNEAKER COMPANY</h6>
               <h2 class="fw-bolder">Fall Limited Edition</h2>
               <h2 class="fw-bold">Sneakers</h2>
               <p class="lh-2 paragraphe">Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, id! ipsum dolor, sit amet consectetur adipisicing elit. Ut maxime similique non esse, qui provident. Lorem ipsum dolor sit amet.</p>
               <div class="row">
                <div class="col col-lg-2">
                    <div class="d-flex">
                        <h3 class="d-flex">
                            <span class="d-flex align-items-center"><img src="/assets/images/images.png" height="24" width="25" alt=""></span>
                           <span class="fw-bolder fs-4 numberMille">125.00</span> 
                        </h3>
                        <p class=" text-warning mx-4"><span class="pourcentage py-1 px-1 fw-bold">50%</span></p>
                    </div>
                    
                </div>
               </div>
               <div class="row prixAnnulee">
                <span class="text-decoration-line-through"><i class="fa-sharp fa-solid fa-dollar-sign text-decoration-line-through" style="color: #9ba4be;"></i><span class="fw-bold">250.00</span></span>
               </div>
               <div class="row mt-5">
               <div class="col col-lg-4">
                <div class="row quantiteShoes">
                    <div class="col py-3">
                        <a class="nav-link" id="lienB" href="#"><i class="fa-solid fa-minus fa-xs" style="color: #ffc107;"></i></a>
                    </div>
                    <div class="col py-3">
                        <span>0</span>
                    </div>
                    <div class="col py-3">
                        <a class="nav-link" id="lienB" href="#"><i class="fa-solid fa-plus fa-xs" style="color: #ffc107;"></i></a>
                    </div>
                </div>
               </div>
                
               
                <div class="col col-lg-6">
                    <button class="btn bouton"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i><span class="text-light mx-2" click="addAnimal()">add to cart</span></button>
                </div>
               </div>
            </div>
        
        
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col col-lg-7">
            <div class="row">
                <div class="col col-lg-2">
                    <a class="nav-link active" href="#">
                        <img src="assets/images/2.jpg" class="object-fit-cover rounded selectedImg" height="85" width="90" alt="">
                    </a>
                    
                </div>
                <div class="col col-lg-2">
                    <a class="nav-link" href="#">
                        <img src="assets/images/3.jpg" class="object-fit-cover rounded" height="85" width="90" alt="">
                    </a>
                    
                </div>
                <div class="col col-lg-2">
                    <a class="nav-link" href="#">
                        <img src="assets/images/4.jpg" class="object-fit-cover rounded" height="85" width="90" alt="">
                    </a>
                    
                </div>
                <div class="col col-lg-2">
                    <a class="nav-link" href="#">
                        <img src="assets/images/1.jpg" class="object-fit-cover rounded" height="85" width="90" alt="">
                    </a>
                    
                </div>
            </div>
        </div>
        <div class="col col-lg-2"></div>
    </div>
</div>
