<div class="container">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand fs-2 fw-bold" href="#">sneakers</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-5 ">
              <li class="nav-item">
                <a class="nav-link lienA" routerLink="" routerLinkActive="activeLink" ariaCurrentWhenActive="page" id="lienA" href="#">Collections</a>
              </li>
              <li class="nav-item">
                <a class="nav-link lienA" routerLink="/men" routerLinkActive="activeLink" ariaCurrentWhenActive="page" id="lienA" href="#">Men</a>
              </li>
              <li class="nav-item">
                <a class="nav-link lienA" routerLink="/women" routerLinkActive="activeLink" ariaCurrentWhenActive="page" id="lienA" href="#">Women</a>
              </li>
              <li class="nav-item">
                <a class="nav-link lienA" routerLink="/about" routerLinkActive="activeLink" ariaCurrentWhenActive="page" id="lienA" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link lienA" routerLink="/contact" routerLinkActive="activeLink" ariaCurrentWhenActive="page" id="lienA" href="#">Contact</a>
              </li>
            </ul>
            <form class="d-flex " >
                <a class="nav-link " href="#">
                    <span class="align-items-end"><i class="fa-solid fa-cart-shopping fs-4 px-5 mt-4" style="color: #000000;"></i></span>
                </a>
              
              <a href="#">
                    <img src="/assets/images/good-faces-xmSWVeGEnJw-unsplash.jpg" class="object-fit-cover rounded-circle" width="70" height="70" alt="logo" >
              </a>
            </form>
          </div>
        </div>
      </nav>
      <hr class="my-2 mx-2">
</div>
    

